@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap");

html {
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8fbfa;
  padding: 10px;
  height: 60px;
}

.clearth {
  margin-right: 1005px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 4px;
}

.logo img {
  width: 50px;
  height: auto;
  margin-left: 29px;
  margin-top: 3px;
}

.menu button {
  font-family: "Montserrat", sans-serif;
  margin-left: 150px;
  margin-right: 20px;
  padding: 12px 25px;
  font-size: 16px;
  background-color: #00704b;
  color: white;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
}

.menu a {
  color: white;
  text-decoration: none;
}

header {
  background-color: #f8fbfa;
  height: calc(100vh - 60px);
  height: 695px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.isi p {
  font-family: "Montserrat", sans-serif;
}

.isi {
  margin-right: 800px;
  margin-bottom: 240px;
}

.isi > h1 {
  font-size: 100px;
  margin-bottom: 35px;
  background: linear-gradient(210deg, rgb(102, 97, 97), #87ceeb, #87ae73);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px rgba(63, 63, 60, 0.1);
}

.earth {
  position: absolute;
  top: 85px;
  right: 0;
  width: 90%;
  z-index: 1;
}

.get-started-btn {
  font-family: "Montserrat", sans-serif;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 10;
  background-color: #00704b;
  color: white;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
  color: #cccccc;
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 5px;
  }

  .menu button {
    margin-left: 10px;
    margin-right: 10px;
  }

  header {
    padding: 10px;
  }

  .logo img {
    width: 60px;
    height: auto;
  }

  .menu a {
    color: white;
    text-decoration: none;
  }

  header {
    background-color: #f4f4f4;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .get-started-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}
